<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bb1fbc19a2b8a0b7e05867afc48b7b1b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_bb1fbc19a2b8a0b7e05867afc48b7b1b" ></div>
        
</body>
<script>    
    
            var map_bb1fbc19a2b8a0b7e05867afc48b7b1b = L.map(
                "map_bb1fbc19a2b8a0b7e05867afc48b7b1b",
                {
                    center: [37.099931960000006, 127.34821139999998],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_924ca6e52575cfe086cd02744f9c49a4 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            var marker_ecad94bc6b198c8c4c371e8b5d9a4ddd = L.marker(
                [37.493922, 127.061026],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_ecad94bc6b198c8c4c371e8b5d9a4ddd.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_740de78ab6f99ad974becc96b7f62dc3 = L.marker(
                [37.505675, 127.047883],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_740de78ab6f99ad974becc96b7f62dc3.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f5b1d2c942e337c7e19e00056dbe2d96 = L.marker(
                [37.471711, 127.89922],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_f5b1d2c942e337c7e19e00056dbe2d96.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5baf4e28140ecfee7bb77da9d0e9feb7 = L.marker(
                [35.159774, 128.980455],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_5baf4e28140ecfee7bb77da9d0e9feb7.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b83e7aa72e93cb4ce077ef354392f087 = L.marker(
                [37.500249, 127.104071],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_b83e7aa72e93cb4ce077ef354392f087.bindTooltip(
                `<div>
                     생활서비스
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d9308239ff471325428f757d66ce9123 = L.marker(
                [37.515149, 127.10249],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_d9308239ff471325428f757d66ce9123.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d314a3795b0f61a0071ecd913b9cabeb = L.marker(
                [37.549245, 127.088387],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_d314a3795b0f61a0071ecd913b9cabeb.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d3ee6dc03d8c711d121f80daa13f99e7 = L.marker(
                [37.562013, 126.809957],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_d3ee6dc03d8c711d121f80daa13f99e7.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a5d166694885dec539312cbd5e07bcba = L.marker(
                [37.552153, 127.010861],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_a5d166694885dec539312cbd5e07bcba.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7a6cbc1f8b7d714ffe3eb2c203914431 = L.marker(
                [37.538927, 126.836078],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_7a6cbc1f8b7d714ffe3eb2c203914431.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6bfa594bb6909469aaf34a05cc2935be = L.marker(
                [37.492388, 127.014217],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_6bfa594bb6909469aaf34a05cc2935be.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e040a1ad032e2c07da6921a6f0c95902 = L.marker(
                [37.48039, 126.886859],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_e040a1ad032e2c07da6921a6f0c95902.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_25cb55713af2d1599c41e0e0f83f5d20 = L.marker(
                [37.588485, 127.031702],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_25cb55713af2d1599c41e0e0f83f5d20.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a2aef39a82f74209d88f74cd313be597 = L.marker(
                [37.504067, 126.880898],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_a2aef39a82f74209d88f74cd313be597.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_76e3a350dfe316c7e16eda6c6d52d6dc = L.marker(
                [37.608392, 127.028726],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_76e3a350dfe316c7e16eda6c6d52d6dc.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_18375335fd643ba0a642fd6f92ced3a1 = L.marker(
                [37.503693, 126.89771],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_18375335fd643ba0a642fd6f92ced3a1.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8992c7b0d68ca4d4cbabc804d74008d8 = L.marker(
                [37.579029, 126.910288],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_8992c7b0d68ca4d4cbabc804d74008d8.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_642e9b7cc1d0fe1d15bb9e5ff46e4ce4 = L.marker(
                [37.580073, 127.043189],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_642e9b7cc1d0fe1d15bb9e5ff46e4ce4.bindTooltip(
                `<div>
                     소매
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_77502368d9ac9547bfcfa8078ad90335 = L.marker(
                [37.552103, 127.071184],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_77502368d9ac9547bfcfa8078ad90335.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f8129e5b164a68c816b03be9c1a61cea = L.marker(
                [37.545461, 127.076812],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_f8129e5b164a68c816b03be9c1a61cea.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_06362f148c232eecd3469adab608d08b = L.marker(
                [37.580196, 127.045022],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_06362f148c232eecd3469adab608d08b.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4f63a29a726d8842c7eabaf088d5a25e = L.marker(
                [37.562274, 126.982419],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_4f63a29a726d8842c7eabaf088d5a25e.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a64e314b6a7db87b4cac8eeb5da5c55e = L.marker(
                [37.535419, 126.840285],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_a64e314b6a7db87b4cac8eeb5da5c55e.bindTooltip(
                `<div>
                     소매
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fc30b73c822f6e7a8c79dcd1c4d64577 = L.marker(
                [37.527477, 127.115873],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_fc30b73c822f6e7a8c79dcd1c4d64577.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fea7308727a378883fbd901a6d5d56ab = L.marker(
                [37.526139, 126.88532],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_fea7308727a378883fbd901a6d5d56ab.bindTooltip(
                `<div>
                     소매
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d6dddcc9dc9c538e2389e6e5f2a75b67 = L.marker(
                [37.648247, 127.078464],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_d6dddcc9dc9c538e2389e6e5f2a75b67.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f527695e083952895b128a7ac1e918b9 = L.marker(
                [37.512939, 127.0571],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_f527695e083952895b128a7ac1e918b9.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bc84bbe8f54b1920071c43c4708277b7 = L.marker(
                [37.517574, 127.020945],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_bc84bbe8f54b1920071c43c4708277b7.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dd9ca37c15ae74a9e700e8efca94126c = L.marker(
                [35.202902, 129.068324],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_dd9ca37c15ae74a9e700e8efca94126c.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_28bcb2ce451fdd40697bb917f63357e9 = L.marker(
                [35.144776, 129.059574],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_28bcb2ce451fdd40697bb917f63357e9.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3160c5ba3522d15fd6dc0eedfc8742bc = L.marker(
                [37.499229, 126.927655],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_3160c5ba3522d15fd6dc0eedfc8742bc.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_69e8454c69d9e4b62bfcfe79809c237b = L.marker(
                [35.150069, 127.034302],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_69e8454c69d9e4b62bfcfe79809c237b.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e59c86fea9d70e43d08f13975841c9c8 = L.marker(
                [35.141176, 129.10633],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_e59c86fea9d70e43d08f13975841c9c8.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fb0d49f2fc29d661f96c710c4ecdf05e = L.marker(
                [37.479403, 126.980242],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_fb0d49f2fc29d661f96c710c4ecdf05e.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_25729aed0869374c6388d8c7d1312daa = L.marker(
                [37.512569, 126.945099],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_25729aed0869374c6388d8c7d1312daa.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f675122af2afee588b48315ec2ee0fb8 = L.marker(
                [35.123196, 129.034599],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_f675122af2afee588b48315ec2ee0fb8.bindTooltip(
                `<div>
                     소매
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_785dc818744331a2bfe368966e3129a1 = L.marker(
                [37.546718, 127.054649],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_785dc818744331a2bfe368966e3129a1.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_aa2a03e3bcdaae1bbac0de53b2d6ef07 = L.marker(
                [37.553668, 127.019556],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_aa2a03e3bcdaae1bbac0de53b2d6ef07.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9b7b7c77f9bfc0c069b6ed4b1652a538 = L.marker(
                [37.488742, 127.053198],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_9b7b7c77f9bfc0c069b6ed4b1652a538.bindTooltip(
                `<div>
                     의료
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_260ffe77da6dc680cb187cf6c0d1c0c5 = L.marker(
                [37.493653, 127.031005],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_260ffe77da6dc680cb187cf6c0d1c0c5.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_60ca78faca5800ceda05dc289d6bf326 = L.marker(
                [37.498462, 127.05856],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_60ca78faca5800ceda05dc289d6bf326.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4a1587d9b7d0d3fa249118115be69735 = L.marker(
                [37.556602, 127.078519],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_4a1587d9b7d0d3fa249118115be69735.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec3a062a8da3a7812641c003ab478f49 = L.marker(
                [37.54418, 127.056141],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_ec3a062a8da3a7812641c003ab478f49.bindTooltip(
                `<div>
                     소매
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c56f6662378d9ee6672d4be0597ce443 = L.marker(
                [35.111532, 129.034605],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_c56f6662378d9ee6672d4be0597ce443.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5168410111f5451ae69e150666d21773 = L.marker(
                [37.508058, 126.888485],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_5168410111f5451ae69e150666d21773.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_40216ff1105b9a4bfd6651ef02764118 = L.marker(
                [35.085777, 129.070117],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_40216ff1105b9a4bfd6651ef02764118.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f23b7fd10f1767ef62ff484df1df2ebd = L.marker(
                [37.546103, 127.057746],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_f23b7fd10f1767ef62ff484df1df2ebd.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8d3836827dd5b73b4dd7d863396575a9 = L.marker(
                [37.483899, 126.929288],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_8d3836827dd5b73b4dd7d863396575a9.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1e99e5e7c1c7b3e70934454031debc84 = L.marker(
                [37.489299, 127.054163],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_1e99e5e7c1c7b3e70934454031debc84.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_926d31d762837addef631abf4fce8c07 = L.marker(
                [35.143421, 129.060972],
                {}
            ).addTo(map_bb1fbc19a2b8a0b7e05867afc48b7b1b);
        
    
            marker_926d31d762837addef631abf4fce8c07.bindTooltip(
                `<div>
                     음식
                 </div>`,
                {"sticky": true}
            );
        
</script>