{%extends 'base.html'%}
{%load static%}
{%load board_filter%}
{%block content%}
<div class="container">
    <div class="d-flex justify-content-end mb-3">
        <form action="/list" method="get" class="form-inline mr-3">
            <input type="text" class="form-control mr-sm-1" id="word" placeholder="Enter Search" name="word" value="{{word}}">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <h2>BOARD({{boardCount}})</h2>         
    <table class="table table-hover">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
                <th>첨부파일</th>
                <th>다운로드</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {%for board in pageList%}
                <td>{{rowNo|sub:forloop.counter0}}</td>
                <td><a href="/detail/{{board.id}}">{{board.title}}</a></td>
                <td>{{board.writer}}</td>
                <td>{{board.post_date|date:'Y-m-d'}}</td>
                <td>{{board.hit}}</td>
                <td>{%if board.filesize > 0%}
                    <span class="_imgs" data-url="/download_count?id={{board.id}}">
                        <img src="{%static 'images/file.jpg'%}">
                    </span>
                    {%endif%}
                </td>
                <td class="downCnt">{{board.down}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <!-- 페이지 번호 -->
    <ul class="pagination">
        {%if pageList.has_previous%}
        <li class="page-item"><a class="page-link" href="?page={{pageList.previous_page_number}}&field={{field}}&word={{word}}">Previous</a></li>
        {%endif%}

        {%if pageList.has_next%}
        <li class="page-item"><a class="page-link" href="?page={{pageList.next_page_number}}&field={{field}}&word={{word}}">Next</a></li>
        {%endif%}
    </ul>
</div>
{%endblock%}

{%block script%}
<script>
$("._imgs").on("click", function(){
    _imgs = $(this)
    $.ajax({
        type : "GET",
        url : $(this).data('url'), //$(this).attr('data-url')
        success: function(data){
            _imgs.parent().parent().find('.downCnt').text(data.count)
            location.href="/download?id="+data.id
        },
        error:function(e){
            alert(e)
        }
    })
})
</script>
{%endblock%}