{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="container">
    <h2>Update</h2>
    <form action="/update/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{dto.id}}"/>
      <div class="form-group">
        <label for="writer">writer:</label>
        <input type="text" class="form-control" id="writer" placeholder="Enter writer" name="writer" value="{{dto.writer.username}}" readonly>
      </div>
      <div class="form-group">
        <label for="title">title:</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" value="{{dto.title}}">
      </div>
      <div class="form-group">
        <label for="content">content:</label>
        <textarea class="form-control" rows="5" id="content" placeholder="Enter content" name="content">{{dto.content}}</textarea>
      </div>
      <div class="form-group">
        <label for="file">file:</label>
        <input type="file" class="form-control" id="file" placeholder="Enter file" name="file">
        {{dto.filename}}
      </div>
      <button type="submit" class="btn btn-primary">수정</button>
    </form>
  </div>
{%endblock%}